# 生产环境改成 prod
NODE_ENV=development

# Drizzle
ADMIN_DATABASE_URL=postgres://postgres:password@localhost:5433/local
# 给 agent 使用的数据库链接，如果 agent 要直接使用 SQL 语句，那么应该只能有查询功能
AGENT_DATABASE_URL=postgres://agent:password@localhost:5433/local

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET="a937b266-c4d1-485b-b201-a85447918c6d"

PUBLIC_ORG_NAME="公司名称"
PUBLIC_ORIGIN="http://localhost:5173"
# 域名
# 跨域用
ORIGIN=http://127.0.0.1:3000

# 大模型的地址
AGENT_URL=http://26.173.187.146:1234
# 大模型使用的模型
AGENT_MODEL=qwen3.6-35b-a3b-ud
# 大模型使用的 api key
AGENT_KEY=model_api_key
# skills 文件夹所在路径
AGENT_SKILLS_DIR=./src/lib/server/agent/skills